/*main page*/
html {
  height: 100%;
}

body {
	background-image: url("/assets/images/background.png");
	background-color: #EEEEEE;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	min-height: 100%;
  	display: flex;
  	flex-direction: column;
}

h1 h2 {
	color: #4aaaa5;
	text-transform: lowercase;
}

p {
	color: #777777;
}

.wrapper {
	width: 960px;
    margin: 0 auto;
    clear: both;
    background-image: url("assets/images/background.png");
    padding: 50px;
    flex: 1;
}
/*end main page style*/

/*top nav bar*/
.navbar {
	background-color: #ffffff;
	width: 100%;
	border-bottom: 10px solid #cccccc;
	float: left;
}

.navbar ul {
	width: 960px;
	padding: 0;
	margin: 0 auto;
}

.navbar li {
	float: right;
    padding: 16px 5px;
    overflow: hidden;
    list-style-type: none;
	display: inline-block;
}

.navbar li a:last-child {
	border-right: none;
}

.navbar a {
	display: block;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    color: #777777;
    text-transform: lowercase;
    border-right: 1px solid #cccccc;
    line-height: 14px;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #777;
    color: #fff;
}

.active {
    font-weight: bold;
}

.navbar .logo {
	display: inline-block;
	float: left;
	color: #ffffff;
	background-color: #4aaaa5;
	font-size: 24px;
	text-align: center;
    padding: 16px 16px;
    overflow: hidden;
}
/*end top nav bar*/

/*main content*/
.main-content {
	float: left;
	background-color: #fff;
	width: 580px;
	padding: 20px 40px;
	margin: 10px 0px;
	border-radius: 25px;
	border: 1px solid #dddddd;
}

.main-content h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 28px;
	font-weight: 800px;
	text-align: left;
	border-bottom: 10px solid #cccccc;
	padding: 5px; 
	color: #4aaaa5;
}

.profile-pic {
	float: left;
	padding-right: 25px;
	padding-bottom: 25px;
}
/*end main content*/

/*contact form*/
.contact-me {
	float: left;
	background-color: #fff;
	width: 580px;
	padding: 20px 40px;
	margin: 10px 0px;
	border-radius: 25px;
}

.contact-me h1 {
	font-size: 28px;
	font-weight: 800px;
	text-align: left;
	border-bottom: 10px solid #cccccc;
	padding: 5px; 
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

form {
	color: #777777;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=textarea] {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}
/*end contact form*/

/*portfolio*/
.portfolio {
	float: left;
	background-color: #fff;
	width: 580px;
	padding: 20px 40px;
	margin: 10px 0px;
	border-radius: 25px;
	border: 1px solid #dddddd;
}

/*.portfolio-wrapper {
	float: left;
	background-color: #fff;
	width: 500px;
	padding: 20px 40px;
	margin: 10px 0px;
	border-radius: 25px;
	border: 1px solid #dddddd;
}*/

.portfolio-icon {
	width: 100%;
	float: left;
}

.portfolio h1 {
	font-size: 28px;
	font-weight: 800px;
	text-align: left;
	border-bottom: 10px solid #cccccc;
	padding: 5px; 
	color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
/*end portfolio*/

/*sidebar*/
.sidebar {
	background-color: #fff;
	float: right;
	width: 230px;
	padding: 20px;
	margin: 10px 0px;
	border-radius: 25px;
}

.sidebar h2 {
	color: #4aaaa5;
	border-bottom: 5px solid #cccccc;
	text-align: center;
	padding: 5px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.sidebar li {
	margin: 0 auto;
	overflow: hidden;
    list-style-type: none;
	display: inline-block;
}
/*end sidebar*/

/*footer*/
footer {
	width: 100%;
	/*position: fixed;
	bottom: 0;*/
	background-color: #666666;
	border-top: 12px solid #4aaaa5;
	padding: 20px 0px;
}

footer p {
	color: #777;
	text-align: center;
	width: 960px;
	padding: 0px;
	margin: 0 auto;
}
/*end footer*/